<div class="header">
  <h1><a href="{{podspec.home.url}}">{{podspec.title}}</a></h1>
  <div class="nav">
    <ul class="nav__items">
      {% for item in g.docs('pages') %}
      <li class="nav__items__item {{"nav__items__item--active" if doc == item}}">
          <a href="{{item.url.path}}">{{item.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="menuToggle">
    <div on="tap:sidebar.toggle" class="burger ampstart-btn caps m2">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  <amp-img class="amp-close-image"
    src="/assets/static/images/ic_close_black_18dp_2x.png"
    width="20"
    height="20"
    alt="close sidebar"
    on="tap:sidebar.close"
    role="button"
    tabindex="0"></amp-img>
  <ul>
    {% for item in g.docs('pages') %}
    <li>
      <a href="{{item.url.path}}">{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
</amp-sidebar>
