<!DOCTYPE html>
<html amp lang="{{doc.locale}}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    {% if podspec.meta.google_site_verification %}
    <meta name="google-site-verification" content="{{podspec.meta.google_site_verification}}">
    {% endif %}
    <title>{% if doc.title %}{{doc.title}} – {% endif %}{{podspec.title}}</title>
    {% if podspec.meta.image %}
      <meta property="og:image" content="{{g.static(podspec.meta.image).url}}">
    {% endif %}
    <meta property="og:title" content="{% if doc.title %}{{doc.title}} – {% endif %}{{podspec.title}}">
    <meta property="og:site_name" content="{{podspec.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{doc.url}}">
    {% if doc.description %}
    <meta name="description" content="{{doc.description}}">
    <meta property="og:description" content="{{doc.description}}">
    {% endif %}
    {% if podspec.meta.favicon_path %}
    <link rel="shortcut icon" href="{{g.static(podspec.meta.favicon_path).url.path}}">
    {% endif %}

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Hitting ground zero with AMP",
        "datePublished": "2017-04-22T09:20:40Z",
        "image": [
          "logo.jpg"
        ]
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
      {% include "/dist/css/main.min.css" %}
    </style>
  </head>
  <body>
    {% include "/views/_header.html" %}
    <div class="main">
      {% block main %}
        {% if doc.partials %}
          {% for partial in doc.partials %}
            {% if not partial.partial %}{% continue %}{% endif %}
            {% include partial.partial with context %}
          {% endfor %}
        {% else %}
          {{doc.html|safe}}
        {% endif %}
      {% endblock %}
    </div>
    {% include "/views/_footer.html" %}
  </body>
</html>
